
//Los mixins para los media querys
@mixin  box-sizing($box) {
    box-sizing: $box;
    -moz-box-sizing: $box;
    -webkit-box-sizing: $box;
}

@mixin telefono {
    @media screen and(min-width:$telefono) {
        @content;
    }
}

@mixin desktop {
    @media screen and(min-width:$desktop) {
        @content;
    }
}